
body {
    width: 1420px;
    height: 100%;
    font-family: 'Gemunu Libre', sans-serif;
    /*margin: 0px auto;*/
}

#nvl {
    font-family: 'Stick No Bills', sans-serif;
    color: #ddff00;
    background-color: #111111;
    width: 100%;
    height: 100%;
    text-align: right;
}

#logo {
    width: 100%;
    height: 100%;
    align-content: center;
}

#menutop {
    min-height: 100px;
}

#menu {
    font-size: 20px;
    width: 1420px;
    height: 50px;

}

.im {
    margin-left: 650px;
}

.in {
    font-size: 22px;
    margin-left: 820px;
}

button:hover {
    background-color: #41e1de;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.ss {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.dk {
    margin-left: 1200px;
}

#main #left {
    width: 80px;
    background-color: #0095ff;
}

#main #right {
    width: 1400px;
    height: 500px;
    background-color: #57ae32;
}

#main {
    width: 1420px;
    height: 100%;
}
.a, .s {
    position: absolute;
}
.a {
    z-index: 2;
}
.s {
    z-index: 3;
}
#fdk {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    margin-left: 500px;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}#fdn {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    margin-left: 500px;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
 .the{
     padding:7px 7px;
 }
 .sp{
     background-color: #b3ffe6;
     width: 22px;
     height: 22px;
 }
